[Desktop Entry]
Name=Audacity
Type=Application
Exec=audacity
Icon=audacity
Terminal=false
Categories=AudioVideo;AudioEditor;
StartupNotify=true
NoDisplay=false
StartupWMClass=Audacity
