[Desktop Entry]
Name=Brave Browser
Type=Application
Exec=brave-browser --password-store=basic
Icon=brave-browser
Terminal=false
Categories=Network;WebBrowser;
StartupNotify=true
NoDisplay=false
StartupWMClass=brave-browser
