[Desktop Entry]
Name=CopyQ
Type=Application
Exec=copyq
Icon=copyq
Terminal=false
Categories=Utility;Clipboard;
StartupNotify=true
NoDisplay=false
StartupWMClass=CopyQ
