[Desktop Entry]
Name=GPRename
Type=Application
Exec=gprename
Icon=/usr/share/icons/gprename.png
Terminal=false
Categories=Utility;FileTools;
StartupNotify=true
NoDisplay=false
StartupWMClass=Gprename
