[Desktop Entry]
Name=HardInfo2
Type=Application
Exec=hardinfo2
Icon=hardinfo2
Terminal=false
Categories=System;HardwareSettings;
StartupNotify=true
NoDisplay=false
StartupWMClass=Hardinfo2
