[Desktop Entry]
Name=LibreOffice Base
Type=Application
Exec=libreoffice --base
Icon=libreoffice-base
Terminal=false
Categories=Office;Database;
StartupNotify=true
NoDisplay=false
StartupWMClass=libreoffice-base
