[Desktop Entry]
Name=LibreOffice Math
Type=Application
Exec=libreoffice --math
Icon=libreoffice-math
Terminal=false
Categories=Office;Education;
StartupNotify=true
NoDisplay=false
StartupWMClass=libreoffice-math
