[Desktop Entry]
Name=LibreOffice Impress
Type=Application
Exec=libreoffice --impress
Icon=libreoffice-impress
Terminal=false
Categories=Office;Presentation;
StartupNotify=true
NoDisplay=false
StartupWMClass=libreoffice-impress
