[Desktop Entry]
Name=LibreOffice Draw
Type=Application
Exec=libreoffice --draw
Icon=libreoffice-draw
Terminal=false
Categories=Office;Graphics;
StartupNotify=true
NoDisplay=false
StartupWMClass=libreoffice-draw
