[Desktop Entry]
Name=LibreOffice Writer
Type=Application
Exec=libreoffice --writer
Icon=libreoffice-writer
Terminal=false
Categories=Office;WordProcessor;
StartupNotify=true
NoDisplay=false
StartupWMClass=libreoffice-writer
