[Desktop Entry]
Name=LibreOffice Calc
Type=Application
Exec=libreoffice --calc
Icon=libreoffice-calc
Terminal=false
Categories=Office;Spreadsheet;
StartupNotify=true
NoDisplay=false
StartupWMClass=libreoffice-calc
