[Desktop Entry]
Name=Thunderbird
Type=Application
Exec=thunderbird
Icon=thunderbird
Terminal=false
Categories=Network;Email;
StartupNotify=true
NoDisplay=false
StartupWMClass=Thunderbird
