[Desktop Entry]
Name=VLC Media Player
Type=Application
Exec=vlc
Icon=vlc
Terminal=false
Categories=AudioVideo;
StartupNotify=true
NoDisplay=false
StartupWMClass=vlc
Path=
