[Desktop Entry]
Name=Zoom Workplace
Type=Application
Exec=/usr/bin/zoom %U
Icon=/usr/share/pixmaps/application-x-zoom.png
Terminal=false
Categories=Network;InstantMessaging;VideoConference;Telephony;
StartupNotify=true
NoDisplay=false
StartupWMClass=zoom
MimeType=x-scheme-handler/zoommtg;x-scheme-handler/zoomus;x-scheme-handler/tel;x-scheme-handler/callto;x-scheme-handler/zoomphonecall;x-scheme-handler/zoomphonesms;application/x-zoom;
