bar {
    layer = "top"
    mirror = "*"
    exclusive_zone = "auto"
    
    grid {
        button {
            value = "view-grid-symbolic"
            action[LeftClick] = "nwggrid"
        }
        button {
            value = "brave-browser"
            action[LeftClick] = "brave-browser --password-store=libsecret"
        }
        button {
            value = "thunderbird"
            action[LeftClick] = "thunderbird"
        }
        button {
            value = "alacritty"
            action[LeftClick] = "alacritty"
        }

        taskbar = {
            icons = true
            labels = false
            group = true
        }
    }
}
